* {
    margin: 0;
    background: rgba(194, 205, 209, 0.692);
}
.navbar {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 2em;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 30vw;
    padding-right: 30vw;
    background: whitesmoke;
}

.navbar a {
    background: whitesmoke;
    padding-left: 2em;
    text-decoration: none;
}

.navbar a:link {
    color: rgba(39, 39, 39, 0.274);
}

.navbar a:visited {
    color: rgba(39, 39, 39, 0.274);
}

.navbar a:hover {
    color: rgb(15, 15, 15);
}




.content {
    width: 40vw;
    height: 100vh;
    background: whitesmoke;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 4px;
}

