
{% extends "base.html" %}
{{super()}}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/indexpage.css')}}">
{% endblock %}
{% block content %}
<div class='posts'>
    {% for post in posts %}

    <div class='post'>
        <p>{{ post.author.username }} says: {{ post.body }}</p>
        <img src={{post.picture}} alt=""> 
    </div>

    {% endfor %}
</div>
{% endblock %}